{% extends "site_base.html" %}

{% load i18n %}
{% load teams_tags %}

{% block head_title %}XS{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <h1>Extreme society</h1>

    <p class="lead">
        Social network for people who are dedicated to extreme sports.
    </p>

    {% if ACCOUNT_OPEN_SIGNUP %}
        <div>
            <a class="btn btn-default" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
            or
            <a class="btn btn-default" href="{% url 'account_login' %}">{% trans "Log in" %}</a>
        </div>
    {% endif %}

{% endblock %}
